<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>家計追加</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='budget.css') }}">
</head>
<body>
    <h1>家計追加</h1>
    <form method="POST">
        <label for="amount">金額:</label>
        <input type="text" name="amount" required>

        <label for="category">カテゴリー:</label>
        <select name="category" required>
            <option value="入金">入金</option>
            <option value="支出">支出</option>
        </select>

        <label for="date">日付:</label>
        <input type="date" name="date" required>

        <label for="description">説明:</label>
        <textarea name="description"></textarea>

        <button type="submit">追加</button>
    </form>
    <a href="{{ url_for('expense_list') }}" class="button">支出リストに戻る</a>
</body>
</html>
